@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --dark_blue: #095172;
  --white: #fff;
  --font: "Raleway", sans-serif;
}

/* Estilos Gerais */

html {
  font-family: cursive;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  height: 200px;
  background: linear-gradient(
      to right,
      rgba(9, 81, 114, 1) 0%,
      rgba(26, 110, 131, 0.46) 80%
    ),
    url(./img/admin-small.png) no-repeat;
}

/* Header */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--white);
  margin-left: 20px;
  font-family: var(--font);
}

.login {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.login-user h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: var(--font);
}

.login-user p {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font);
}

.login-user {
  margin: 20px;
}

.login-user h3:hover {
  transform: scale(1.1, 1.1);
  transition: 0.35s;
  cursor: pointer;
}

.login-user p:hover {
  transform: scale(1.1, 1.1);
  transition: 0.35s;
  cursor: pointer;
}
.button-login {
  font-size: 35px;
  margin: 0.1rem;
  color: var(--white);
  cursor: pointer;
}

.button-login:hover {
  color: var(--white);
  transform: scale(1.1, 1.1);
  transition: 0.35s;
}

.bx:hover {
  color: rgb(136, 30, 66);
}

.bx-message-square-edit:hover {
  color: rgb(28, 105, 28);
}

/* Menu-Lateral */

.menu {
  background: linear-gradient(
    to bottom,
    rgba(9, 81, 114, 1) 0%,
    rgba(9, 91, 120, 0.8) 40%,
    rgba(26, 110, 131, 0.46) 80%
  );
  height: 80vh;
  width: 25%;
  font-family: var(--font);
}

.menu ul {
  display: inline;
  list-style: none;
  text-decoration: none;
}

.menu ul li {
  margin-top: 12px;
  margin-left: 4px;
  cursor: pointer;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.menu-buttons {
  width: 97%;
  height: 40px;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
  position: relative;
  transition: all 0.35s;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: -3px 5px 5px black;
}

.menu-buttons span {
  position: relative;
  z-index: 2;
}

.menu-buttons:hover {
  transform: translate(10px, -5px);
  transition: 0.35s;
  cursor: pointer;
}

.menu-buttons:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: var(--dark_blue);
  transition: all 0.35s;
}

.menu-buttons:hover:after {
  width: 100%;
}

.title-list {
  font-size: 20px;
  font-style: italic;
  color: white;
  font-weight: 600;
}

.bxs-cog {
  font-size: 15px;
}

/* conteudo principal */

main {
  display: flex;
  background: #eee;
  font-family: var(--font);
}

.principal {
  align-items: center;
  margin: 50px auto;
}

.title-table {
  font-size: 2rem;
  font-style: italic;
}

.title-table:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--dark_blue);
  margin: 20px auto;
}

.form-select, .form-control {
    font-style: italic;
}

.btn {
  height: 36px;
  background: rgb(15, 119, 102);
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: white;
}

.btn:hover {
  background: rgb(1, 66, 55);
  transition: 0.35s;
  color: white;
}

/*Conteudo da Tabela*/

.table-hover {
  border: 1px solid #d3d3d3;
  width: 100%;
  margin: 10px 0;
  background: #f6f6f6;
}
.table-hover tr th {
  background: var(--dark_blue) !important;
  color: var(--white);
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
}
.table-hover tr td,
.table-hover tr th {
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 25%;
}
.table-hover tr th:nth-of-type(4) {
  width: 10%;
}
.table-hover button {
  background: transparent;
  border: 0;
}
.table-hover tr td:nth-of-type(4) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 0;
}

.table-hover tr td select:disabled,
.table-hover tr td input:disabled {
  border: 0;
  text-align: center;
  color: #808080 !important;
}
.table-hover tr select:disabled {
  -webkit-appearance: none;
  color: #808080 !important;
  opacity: 1 !important;
  background: none;
}

.input-group-text,
.form-select,
.form-control {
  border-radius: 0;
}

.input-group-text {
  background: var(--dark_blue);
  color: var(--white);
  border: 1px solid var(--dark_blue);
}

.table-hover th {
  font-weight: 600;
  background: black;
}

.form-select,
.form-control {
  margin-right: 5px;
}

.button-remove,
.button-edit {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.button-remove {
  color: rgb(153, 17, 47);
}

.button-remove:hover {
  transition: 0.35s;
  color: rgb(75, 3, 18);
}

.button-edit {
  color: rgb(19, 104, 129);
}

.button-edit:hover {
  transition: 0.35s;
  color: rgb(5, 65, 83);
}

@media (min-width: 90em) {
  .trapezium {
    border-top: 255px solid #123751;
  }
  h2 {
    top: -158px;
  }

  form ul li select,
  form ul li input {
    width: 286px;
  }
}

/* Modal */

.close {
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  background: rgb(153, 17, 47);
}

.close:hover {
  background: rgb(90, 4, 23);
  transition: 0.35s;
}

.btn-cancel {
  background: rgb(153, 17, 47);
}

.btn-cancel:hover {
  background: rgb(90, 4, 23);
  transition: 0.35s;
}

.btn-salvar {
  background: rgb(15, 119, 102);
}

.btn-salvar:hover {
  background: rgb(1, 66, 55);
  transition: 0.35s;
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 0 1em rgba(5, 0, 29, 0.664);
}

.label {
  display: flex;
  flex-direction: row-reverse;
}

.label span {
  border-radius: 0;
}

.crud {
  display: flex;
}

.buttons {
  display: flex;
  height: 2rem;
}

@media (max-width: 820px) {
  body {
    font-size: 1rem;
  }
  main {
    display: flex;
  }
  .menu {
    display: block;
    width: 50%;
  }
  .principal {
    margin: 20px 40px;
  }
}

@media (max-width: 650px) {
  header {
    background: linear-gradient(
        to right,
        rgba(9, 81, 114, 1) 0%,
        rgba(26, 110, 131, 0.46) 80%
      ),
      url(./img/admin-small.png) no-repeat;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .head {
    display: flex;
    flex-direction: column;
  }
  .head h1 {
    margin: 20px auto;
    font-size: 25px;
  }
  .login-user h3 p {
    font-size: 20px;
    font-weight: 400;
  }
  .menu h4 {
    text-align: center;
    margin: 0 auto;
  }
  .menu {
    width: 100%;
    height: 250px;
    top: -20px;
  }
  .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .principal {
    margin: 10px;
  }
  .title-table {
    text-align: center;
    margin-top: 20px;
  }
  .crud {
    display: grid;
  }
  .crud button {
    width: 100%;
  }
}
